<section>
  <form name="forgot-password" ng-submit="updatePassword()">
    <fieldset>
      <legend>Forgot password</legend>
      <div class="form-group">
        <label>New Password</label>
        <input name="newPassword"  type="password" ng-model="newPassword" required></input>
      </div>

      <div class="form-group">
        <label>Confirm password</label>
        <input  name="confirmPassword" type="password"  ng-model="confirmPassword" required></input>
      </div>

      <div class="form-group">
        <p>{{error}}</p>
      </div>

      <div class="actions">
        <label></label>
        <button>Save Password</button>
      </div>

    </fieldset>



  </form>


</section>
